.card {
    margin: 30px auto;
    padding: 20px;
    font-size: 20px;
    width: 80%;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.08);
    transition: box-shadow .6s;
}
.card:hover {
    box-shadow: 5px 15px 30px 5px rgba(0, 0, 0, 0.15);
}
.card_fl {
    float: left;
}